*{
margin: 0;
padding: 0;
color: white;
font-family: Arial, Helvetica, sans-serif;
}

/* 1stNavbar */
.navbar{
    height: 170px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items:center ;
    justify-content: space-evenly;

}
.nav-logo{
    height:100px;
    width: 200px;
   
    }
    
    .logo{
        background-image: url("logofix.jpg");
       background-size: cover;
        height: 90px;
        width: 250px;
       border: none;
       position: absolute;
       top: 0;
       left: 0;
       margin-top: 50px;


       
     
    }
   
    .border:hover {
        border: 2px solid white;
    } 
    
    /* #add-first{
        color: #cccccc;
        font-size: 0.85rem;
        margin-left: 15px;
    }
    #add-second{
        font-size: 1.1rem;
        margin-left: 5px;
        display: block;
        margin: 10px;
    }
    .add-icon{
        
        display: flex;
        align-items: center;
        
    }
      .nav-add, a{
        display:block;
         align-items: center;
        
      
        color:whitesmoke ;
        text-decoration: none;
    }
    .nav-add, a{  border: 3px solid rgb(85, 61, 20);}
     */
     .add-icon{
        
        display: flex;
    
   
      
        
    }
    .link-container span a {
        border: 2px solid rgb(97, 79, 45); /* Apply your desired border styles here */
        display: block; /* Display the link on a new line */
        padding: 5px; /* Add padding for better appearance */
        text-decoration: none; /* Remove underline */
        position: absolute;
    top: 110px;
    left: 550px;
    }
   

    .datetime{
        display: flex;
        justify-content:flex-end;
        align-items: flex-end;
        min-height: 5px;
        background-color: rgb(30, 30, 34);
        padding-left: 50px;
        margin-left:  1500px; 
        
    
    }
    .container .time , #period{
        color: whitesmoke;
        font-size: 1.5rem;
        margin: 0 1rem;
        border: .1rem solid white;
        padding: .7rem 1.2rem ;
        box-shadow: -7px -7px rgb(0,116,255);
        position: relative;
    }
    
    #period{
    font-size: 1.2rem;
    }
    .time::after{
        content: attr(data);
        font-size: 1rem;
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translate(-50%);
        letter-spacing: .1rem;
        text-transform: uppercase;
    }
    .nav-flag{
        font-size: 0.85rem;
       width: 20px;
    }
    /* 2ndNavbar */

    .panel {
        color:white;
        height: 40px;
        display: flex;
        background-color:  #222f3d;
        align-items: center;
        justify-content:space-between;
      
    }
     .panal, i{
       font-size: medium;
    } 
    .panel-home{
        width: 50px;
        display: flex;
        align-items: center;

        border: none;
        text-decoration: none;
        font-size: 1.2rem;
    }
   main, a{
text-decoration: none;

   }
   .panel-home{
    margin-left: 15px;
   }
   .contactus{
    margin-right: 80px;

   }
   /* HeroSECTION */
   .hero-section{
    background-image: url(hero.jpg.png);
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   

   }
   .hero-message{
    background-color: rgb(236, 206, 246);
    color: rgb(204, 8, 8);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 60%;
    margin-bottom: 25px;

    border: 2px sloid black;
    position: absolute; 

    animation: colorAnimation 4s ease-in 4s infinite normal ;

   }



@keyframes colorAnimation {
    0% {
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    
    100% {
        opacity: 1;
    }
}





/* photostart*/

.main-section{
    height: 400vh;
    width: 100%;
    background-color: #3d4752;
}


 .photo1 {
    height: 870px;
    width: 100%;
    background-image: url(p2.jpg); 
    background-size: cover;
} 




.boxphoto-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 500px;
    width: 50%;
    background-color: whitesmoke;
    padding: 20px 0px 15px;
    margin-top: 15px;
    box-sizing: border-box;
}

.box-img {
    height: 400px;
    background-size: cover;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content h5{
    color: #007185;
} 


.imgflag{
    height: 1000px;
    width: 55%;
    background-image: url(p10.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
}












/* FOOTER */
footer{
    height: 300px;
    width: 100%;
    background-color: #37475a;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .photo {
        background-image: url(logo123.jpg);
        height: 250px;
        width: 220px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border: none; /* Add border for visualization */
        margin-right: 30px; /* Add some margin for spacing */
     
        align-self: flex-end; /* Align the .photo div to the bottom right */
     
    }
    .foot-content{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        font-size: 18px;
    }
   .foot-content a {
        margin-right: 40px; /* Adjust the value to set the desired space between the anchor tags */
        border: 1px solid whitesmoke;
    }
    .copyright{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: large;
        margin-bottom: 20px;

    }
    .diwash{
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .diwash, a{
        margin: 5px;
    }
